
body {
    background-image: url('../img/mainBG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.header {
    width: auto;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
    float: left;
}
.ikaz1 {
    text-decoration: blink;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 0.6s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-direction: alternate;
    color: bisque;
    margin-left: 15%;
    font-size: 1vw;
    margin-top: 45%;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }

    to {
        opacity: 0.0;
    }
}

.nav {
    float: right;
    margin-top: 15%;
    margin-right: 2%;
    background-color: bisque;
    opacity: 0.7;
    color: red;
    width: 140%;
    height: auto;
    text-align: justify;
    padding: 7px;
}

a.navi {
    text-decoration: none;
    color: cornsilk;
    font-size: 1.2vw;
    text-align: justify;
}

    a.navi:hover {
        color: orange;
        font-weight: bolder;
    }

a.navi {
    padding: 5px;
    color: tomato;
}

footer {
    bottom: 0px;
    left: 0px;
    width: 98%;
    height: 50px;
    padding: 15px;
    background-color: #000;
    opacity: 0.7;
    text-align: center;
    position: center;
    margin-right: 50%;
}
.icerik {
    margin-top: 15px;
}

table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    color: bisque;
    font-size: 1.1vw;
}

    table thead {
        font-weight: bolder;
        font-size: larger;
        color: burlywood;
    }

    table tbody tr:hover {
        background-color: burlywood;
    }

tr:nth-child(even) {
    background-color: goldenrod;
}

.tableHeader {
    color: chocolate;
    font-weight: bolder;
}

