body {
    background-image: url('../img/mainBG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.header {
    width: auto;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
    float: left;
}

.nav {
    float: right;
    margin-top: 20%;
    margin-right: 10%;
    background-color: bisque;
    opacity: 0.7;
    color: red;
    width: 115%;
    height: auto;
    text-align: justify;
    padding: 7px;
}

a.navi {
    text-decoration: none;
    color: cornsilk;
    font-size: 1.2vw;
    text-align: justify;
}

    a.navi:hover {
        color: orange;
        font-weight: bolder;
    }

a.navi {
    padding: 5px;
    color: tomato;
}


table {
    border: 1px solid black;
    width: 100%;
    text-align: center;
    color: bisque;
    font-size: 1.1vw;
}

    table thead {
        font-weight: bolder;
        font-size: larger;
        color: burlywood;
    }

    table tbody tr:hover {
        background-color: burlywood;
    }

tr:nth-child(even) {
    background-color: goldenrod;
}

.tableHeader {
    color: chocolate;
    font-weight: bolder;
}

.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
.active, .collapsible:hover {
        background-color: #555;
    }

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #808080;
}
.onayIkaz {
    visibility: hidden;
    text-align: justify;
    color: gold;
    font-weight: bold;
}
.ikaz {
   
    font-style :italic;
    color :crimson;
}
.bilgilendirme{
    font-size :0.8vw;
    color :darkgray;
}
.tableHeader {
    color: chocolate;
}
.aramaMotoru {
    margin-top: 2%;
    margin-left: 1%;
    font-size: 1.1vw;
    width: 100%;
}

optgroup {
    background-color: antiquewhite;
}

optgroup option {
        color: chocolate;
        height: 155%;
        font-weight: bolder;

}

select {
    width: 25%;
    background-color: whitesmoke;
    color: chocolate;
    font-weight: bold;
}


select {
    width: 25%;
    background-color: bisque;
    color: chocolate;
    font-weight: bold;
}