body {
    background-image: url('../img/mainBG.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.header {
    width: auto;
    height: auto;
}

.logo {
    width: 100%;
    height: auto;
    float: left;
}
.nav {
    float: right;
    margin-top: 15%;
    margin-right: 2%;
    background-color: bisque;
    opacity: 0.7;
    color: red;
    width: 140%;
    height: auto;
    text-align: justify;
    padding: 7px;
}

a.navi {
    text-decoration: none;
    color: cornsilk;
    font-size: 1.2vw;
    text-align: justify;
}

a.navi:hover {
    color: orange;
    font-weight: bolder;
}

a.navi {
    padding: 5px;
    color: tomato;
}

footer {

    bottom: 0px;
    left: 0px;
    width: 98%;
    height: 50px;
    padding: 15px;
    background-color: #000;
    opacity: 0.7;
    text-align: center;
    position: center;
    margin-right: 50%;
}
.icerik {

    margin-left:30%;
    margin-top :-5%;
    width : 80%;
    height : auto;
}